// Bootstrap
@use 'bootstrap/scss/bootstrap.scss';

// Variables
@use './vars' as *;


/******************* General rules *********************/

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    overflow-x: hidden;
}

h1 {
    font-size: 54px;
}


h2 {
    color: $blue;
    font-size: 53px;
}

h3 {
    color: $green;
}


section {
    height: 100vh;
}

li {
    list-style-type: none;
}


.navbar li {

    &::after {
        content: '';
        width: 0%;
        height: 3px;
        background-color: $green;
        display: block;
        margin: auto;
        transition: 0.5s;
    }

    &:hover::after {
        width: 100%;
    }
}

a {
    text-decoration: none;

    span {
        font-size: 20px;
    }
}


/*************** General Media Query  ****************/

@media (min-width: 576px) {
    h1 {
        font-size: 70px;
    }
}
    
        
    
    @media (min-width: 768px) {
    h1 {
        font-size: 88px; 
    }
}
    
    
@media (min-width: 992px) {
    h1 {
        font-size: 110px; 
    }
}
    
    
    
@media (min-width: 1200px) {
    h1 {
        font-size: 130px; 
    }
}