// Bootstrap
@use 'bootstrap/scss/bootstrap.scss';

// Variables
@use './vars' as *;


/******************* General rules *********************/

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
